{namespace neos=TYPO3\Neos\ViewHelpers}
<neos:contentElement node="{node}">
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td><i class="icon-apple icon-large"></i> Mac OS X Installer (.pkg)</td>
            <td>
                32bit (not yet)
            </td>
            <td>
                <a href="dl/MacOS" onclick="_gaq.push(['_trackEvent', 'Downloads', 'Downloaded', 'MacOS 64bit']);"> 64bit</a>
            </td>
        </tr>
        <tr>
            <td><i class="icon-linux icon-large"></i> Linux Installer (.deb)</td>
            <td>
                32bit (not yet)
            </td>
            <td>
                <a href="dl/Linux" onclick="_gaq.push(['_trackEvent', 'Downloads', 'Downloaded', 'Linux 64bit']);"> 64bit</a>
            </td>
        </tr>
        <tr>
            <td><i class="icon-windows icon-large"></i> Windows Installer (.msi)</td>
            <td>
                32bit (not yet)
            </td>
            <td>
                64bit (not yet)
            </td>
        </tr>
        </tbody>
    </table>
</neos:contentElement>